<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aiwinn.faceattendance">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>

    <application
        android:name=".AttApp"
        android:allowBackup="true"
        android:icon="@drawable/att_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/att_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.m.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.m.ConfigActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.m.DetectActivity"
                  android:configChanges="screenSize|keyboardHidden|orientation"
                  android:theme="@style/full"/>
        <activity android:name=".ui.m.UVCDetectActivity"
                  android:configChanges="screenSize|keyboardHidden|orientation"
                  android:theme="@style/full"/>
        <activity android:name=".ui.m.YuvRegistActivity"
                  android:configChanges="screenSize|keyboardHidden|orientation"
                  android:theme="@style/full"/>
        <activity android:name=".ui.m.UVCYuvRegistActivity"
                  android:configChanges="screenSize|keyboardHidden|orientation"
                  android:theme="@style/full"/>
        <activity android:name=".ui.m.RegisterListActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.m.BmpRegistActvity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.m.BulkRegistActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.m.AuthorizationActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.m.DebugActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>